In [1]:
import pandas as pd
import numpy as np

In [2]:
crime_police=pd.read_csv('../data/crime_in_Seoul.csv',encoding='euc-kr')

In [3]:
crime_police.head()

,구분,죄종,발생검거,건수,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,중부,살인,발생,4,NaN,NaN,NaN,NaN,NaN
1,중부,살인,검거,4,NaN,NaN,NaN,NaN,NaN
2,중부,강도,발생,3,NaN,NaN,NaN,NaN,NaN
3,중부,강도,검거,3,NaN,NaN,NaN,NaN,NaN
4,중부,"강간,추행",발생,109,NaN,NaN,NaN,NaN,NaN

In [4]:
crime_police['죄종 및 검거']=crime_police['죄종']+' '+crime_police['발생검거']

In [5]:
crime_police.head()

,구분,죄종,발생검거,건수,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,죄종 및 검거
0,중부,살인,발생,4,NaN,NaN,NaN,NaN,NaN,살인 발생
1,중부,살인,검거,4,NaN,NaN,NaN,NaN,NaN,살인 검거
2,중부,강도,발생,3,NaN,NaN,NaN,NaN,NaN,강도 발생
3,중부,강도,검거,3,NaN,NaN,NaN,NaN,NaN,강도 검거
4,중부,"강간,추행",발생,109,NaN,NaN,NaN,NaN,NaN,"강간,추행 발생"

In [6]:
del crime_police['죄종']

In [7]:
del crime_police['Unnamed: 4']
del crime_police['Unnamed: 5']
del crime_police['Unnamed: 6']
del crime_police['Unnamed: 7']
del crime_police['Unnamed: 8']

In [8]:
crime_police.head()

   구분 발생검거   건수   죄종 및 검거
0  중부   발생    4     살인 발생
1  중부   검거    4     살인 검거
2  중부   발생    3     강도 발생
3  중부   검거    3     강도 검거
4  중부   발생  109  강간,추행 발생

In [9]:
crime_police=crime_police[['구분','죄종 및 검거','건수']]

In [10]:
crime_police.head()

   구분   죄종 및 검거   건수
0  중부     살인 발생    4
1  중부     살인 검거    4
2  중부     강도 발생    3
3  중부     강도 검거    3
4  중부  강간,추행 발생  109

In [11]:
crime_and_police=crime_police.pivot(index='구분',columns='죄종 및 검거',
                                   values='건수')
crime_and_police.reset_index(inplace=True)

In [12]:
crime_and_police.head()

죄종 및 검거,구분,강간 검거,강간 발생,"강간,추행 검거","강간,추행 발생",강도 검거,강도 발생,살인 검거,살인 발생,절도 검거,절도 발생,폭력 검거,폭력 발생
0,강남,NaN,NaN,325.0,428.0,11.0,13.0,6.0,8.0,737.0,1517.0,1699.0,1961.0
1,강동,NaN,NaN,103.0,124.0,6.0,6.0,3.0,3.0,889.0,1612.0,1461.0,1713.0
2,강북,NaN,NaN,115.0,136.0,1.0,1.0,4.0,4.0,537.0,777.0,1255.0,1383.0
3,강서,NaN,NaN,188.0,246.0,3.0,3.0,7.0,9.0,921.0,1540.0,1925.0,2098.0
4,관악,NaN,NaN,269.0,321.0,6.0,7.0,4.0,8.0,929.0,1860.0,1926.0,2248.0

In [24]:
crime_and_police.rename(columns={'구분':'관서명'}, inplace=True)

In [25]:
crime_and_police.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   관서명       31 non-null     object
 1   강간 검거     5 non-null      float64
 2   강간 발생     5 non-null      float64
 3   강간,추행 검거  26 non-null     float64
 4   강간,추행 발생  26 non-null     float64
 5   강도 검거     31 non-null     float64
 6   강도 발생     31 non-null     float64
 7   살인 검거     31 non-null     float64
 8   살인 발생     31 non-null     float64
 9   절도 검거     31 non-null     float64
 10  절도 발생     31 non-null     float64
 11  폭력 검거     31 non-null     float64
 12  폭력 발생     31 non-null     float64
dtypes: float64(12), object(1)
memory usage: 3.3+ KB

In [15]:
! pip install googlemaps

Requirement already satisfied: googlemaps in c:\users\sifeu\anaconda3\lib\site-packages (4.6.0)
Requirement already satisfied: requests<3.0,>=2.20.0 in c:\users\sifeu\anaconda3\lib\site-packages (from googlemaps) (2.24.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\sifeu\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in c:\users\sifeu\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sifeu\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\sifeu\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (3.0.4)

In [16]:
import googlemaps

In [17]:
gmaps_key='AIzaSyAaHfHEA-ubEJGlFZ6VHc7Y2356tx09iCw'
gmaps=googlemaps.Client(key=gmaps_key)

In [18]:
gmaps.geocode('서울혜화경찰서', language='ko')

[{'address_components': [{'long_name': '１１２−１６',
    'short_name': '１１２−１６',
    'types': ['premise']},
   {'long_name': '창경궁로',
    'short_name': '창경궁로',
    'types': ['political', 'sublocality', 'sublocality_level_4']},
   {'long_name': '종로구',
    'short_name': '종로구',
    'types': ['political', 'sublocality', 'sublocality_level_1']},
   {'long_name': '서울특별시',
    'short_name': '서울특별시',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': '대한민국',
    'short_name': 'KR',
    'types': ['country', 'political']},
   {'long_name': '03130', 'short_name': '03130', 'types': ['postal_code']}],
  'formatted_address': '대한민국 서울특별시 종로구 창경궁로 112-16',
  'geometry': {'location': {'lat': 37.5719679, 'lng': 126.9989574},
   'location_type': 'ROOFTOP',
   'viewport': {'northeast': {'lat': 37.57331688029149,
     'lng': 127.0003063802915},
    'southwest': {'lat': 37.57061891970849, 'lng': 126.9976084197085}}},
  'partial_match': True,
  'place_id': 'ChIJc0PIxSCjfDURWuMVOPZrMTM',
  'plus_code': {'compound_code': 'HXCX+QH 대한민국 서울특별시',
   'global_code': '8Q98HXCX+QH'},
  'types': ['establishment', 'point_of_interest', 'police']}]

In [26]:
station_name=[]

for name in crime_and_police['관서명']:
    station_name.append('서울'+str(name)+'경찰서')
    
station_name

['서울강남경찰서',
 '서울강동경찰서',
 '서울강북경찰서',
 '서울강서경찰서',
 '서울관악경찰서',
 '서울광진경찰서',
 '서울구로경찰서',
 '서울금천경찰서',
 '서울남대문경찰서',
 '서울노원경찰서',
 '서울도봉경찰서',
 '서울동대문경찰서',
 '서울동작경찰서',
 '서울마포경찰서',
 '서울방배경찰서',
 '서울서대문경찰서',
 '서울서부경찰서',
 '서울서초경찰서',
 '서울성동경찰서',
 '서울성북경찰서',
 '서울송파경찰서',
 '서울수서경찰서',
 '서울양천경찰서',
 '서울영등포경찰서',
 '서울용산경찰서',
 '서울은평경찰서',
 '서울종로경찰서',
 '서울종암경찰서',
 '서울중랑경찰서',
 '서울중부경찰서',
 '서울혜화경찰서']

In [28]:
station_address=[]
station_lat=[]
station_lng=[]

for name in station_name:
    tmp=gmaps.geocode(name,language='ko')
    station_address.append(tmp[0].get('formatted_address'))
    
    tmp_loc=tmp[0].get('geometry')
    station_lat.append(tmp_loc['location']['lat'])
    station_lng.append(tmp_loc['location']['lng'])
    
    print(name+'-->'+tmp[0].get('formatted_address'))

서울강남경찰서-->대한민국 서울특별시 강남구 테헤란로114길 11
서울강동경찰서-->대한민국 서울특별시 강동구 성내로 57
서울강북경찰서-->대한민국 서울특별시 강북구 오패산로 406
서울강서경찰서-->대한민국 서울특별시 강서구 화곡6동 980-27
서울관악경찰서-->대한민국 서울특별시 관악구 관악로5길 33
서울광진경찰서-->대한민국 서울특별시 광진구 구의동 자양로 167
서울구로경찰서-->대한민국 서울특별시 구로구 가마산로 235
서울금천경찰서-->대한민국 서울특별시 금천구 시흥대로73길 50
서울남대문경찰서-->대한민국 서울특별시 중구 한강대로 410
서울노원경찰서-->대한민국 서울특별시 노원구 노원로 283
서울도봉경찰서-->대한민국 서울특별시 도봉구 노해로 403
서울동대문경찰서-->대한민국 서울특별시 동대문구 약령시로21길 29
서울동작경찰서-->대한민국 서울특별시 동작구 노량진로 148
서울마포경찰서-->대한민국 서울특별시 마포구 마포대로 183
서울방배경찰서-->대한민국 서울특별시 서초구 동작대로 204
서울서대문경찰서-->대한민국 서울특별시 서대문구 통일로 113
서울서부경찰서-->대한민국 서울특별시 은평구 녹번동 177-15
서울서초경찰서-->대한민국 서울특별시 서초구 서초3동 반포대로 179
서울성동경찰서-->대한민국 서울특별시 성동구 행당동 왕십리광장로 9
서울성북경찰서-->대한민국 서울특별시 성북구 삼선동 보문로 170
서울송파경찰서-->대한민국 서울특별시 송파구 중대로 221
서울수서경찰서-->대한민국 서울특별시 강남구 개포로 617
서울양천경찰서-->대한민국 서울특별시 양천구 목동동로 99
서울영등포경찰서-->대한민국 서울특별시 영등포구 국회대로 608
서울용산경찰서-->대한민국 서울특별시 용산구 백범로 329
서울은평경찰서-->대한민국 서울특별시 은평구 연서로 365
서울종로경찰서-->대한민국 서울특별시 종로구 율곡로 46
서울종암경찰서-->대한민국 서울특별시 성북구 화랑로7길 32
서울중랑경찰서-->대한민국 서울특별시 중랑구 묵2동 249-2
서울중부경찰서-->대한민국 서울특별시 중구 수표로 27
서울혜화경찰서-->대한민국 서울특별시 종로구 창경궁로 112-16

In [29]:
station_address

['대한민국 서울특별시 강남구 테헤란로114길 11',
 '대한민국 서울특별시 강동구 성내로 57',
 '대한민국 서울특별시 강북구 오패산로 406',
 '대한민국 서울특별시 강서구 화곡6동 980-27',
 '대한민국 서울특별시 관악구 관악로5길 33',
 '대한민국 서울특별시 광진구 구의동 자양로 167',
 '대한민국 서울특별시 구로구 가마산로 235',
 '대한민국 서울특별시 금천구 시흥대로73길 50',
 '대한민국 서울특별시 중구 한강대로 410',
 '대한민국 서울특별시 노원구 노원로 283',
 '대한민국 서울특별시 도봉구 노해로 403',
 '대한민국 서울특별시 동대문구 약령시로21길 29',
 '대한민국 서울특별시 동작구 노량진로 148',
 '대한민국 서울특별시 마포구 마포대로 183',
 '대한민국 서울특별시 서초구 동작대로 204',
 '대한민국 서울특별시 서대문구 통일로 113',
 '대한민국 서울특별시 은평구 녹번동 177-15',
 '대한민국 서울특별시 서초구 서초3동 반포대로 179',
 '대한민국 서울특별시 성동구 행당동 왕십리광장로 9',
 '대한민국 서울특별시 성북구 삼선동 보문로 170',
 '대한민국 서울특별시 송파구 중대로 221',
 '대한민국 서울특별시 강남구 개포로 617',
 '대한민국 서울특별시 양천구 목동동로 99',
 '대한민국 서울특별시 영등포구 국회대로 608',
 '대한민국 서울특별시 용산구 백범로 329',
 '대한민국 서울특별시 은평구 연서로 365',
 '대한민국 서울특별시 종로구 율곡로 46',
 '대한민국 서울특별시 성북구 화랑로7길 32',
 '대한민국 서울특별시 중랑구 묵2동 249-2',
 '대한민국 서울특별시 중구 수표로 27',
 '대한민국 서울특별시 종로구 창경궁로 112-16']

In [30]:
station_lat

[37.5094352,
 37.528511,
 37.63730390000001,
 37.551284,
 37.4743945,
 37.542873,
 37.494931,
 37.4568722,
 37.5547584,
 37.6421389,
 37.6533589,
 37.58506149999999,
 37.5130866,
 37.550814,
 37.4945959,
 37.5647439,
 37.6021405,
 37.4956054,
 37.5617303,
 37.58977830000001,
 37.5016941,
 37.49349,
 37.5167711,
 37.5260441,
 37.5387099,
 37.6280204,
 37.575548,
 37.6036426,
 37.6056429,
 37.56361709999999,
 37.5719679]

In [31]:
station_lng

[127.0669578,
 127.1268224,
 127.0273399,
 126.850038,
 126.9513489,
 127.083821,
 126.886731,
 126.8970429,
 126.9734981,
 127.0710473,
 127.052682,
 127.0457679,
 126.9428498,
 126.954028,
 126.9831279,
 126.9667705,
 126.9213074,
 127.0052504,
 127.0364217,
 127.016589,
 127.1272481,
 127.0772119,
 126.8656996,
 126.9008091,
 126.9659183,
 126.9287899,
 126.9847471,
 127.0401328,
 127.0764866,
 126.9896517,
 126.9989574]

In [33]:
gu_name=[]

for name in station_address:
    tmp=name.split()
    tmp_gu=[gu for gu in tmp if gu[-1]=='구'][0]
    gu_name.append(tmp_gu)
    
crime_and_police['구별']=gu_name
crime_and_police.head()

죄종 및 검거,관서명,강간 검거,강간 발생,"강간,추행 검거","강간,추행 발생",강도 검거,강도 발생,살인 검거,살인 발생,절도 검거,절도 발생,폭력 검거,폭력 발생,구별
0,강남,NaN,NaN,325.0,428.0,11.0,13.0,6.0,8.0,737.0,1517.0,1699.0,1961.0,강남구
1,강동,NaN,NaN,103.0,124.0,6.0,6.0,3.0,3.0,889.0,1612.0,1461.0,1713.0,강동구
2,강북,NaN,NaN,115.0,136.0,1.0,1.0,4.0,4.0,537.0,777.0,1255.0,1383.0,강북구
3,강서,NaN,NaN,188.0,246.0,3.0,3.0,7.0,9.0,921.0,1540.0,1925.0,2098.0,강서구
4,관악,NaN,NaN,269.0,321.0,6.0,7.0,4.0,8.0,929.0,1860.0,1926.0,2248.0,관악구

In [34]:
crime_and_police.to_csv('../data/crime_in_Seoul_include_gu_name.csv',sep=',',encoding='euc-kr')

In [36]:
crime_and_police[crime_and_police['구별']=='강남구']

죄종 및 검거,관서명,강간 검거,강간 발생,"강간,추행 검거","강간,추행 발생",강도 검거,강도 발생,살인 검거,살인 발생,절도 검거,절도 발생,폭력 검거,폭력 발생,구별
0,강남,NaN,NaN,325.0,428.0,11.0,13.0,6.0,8.0,737.0,1517.0,1699.0,1961.0,강남구
21,수서,NaN,NaN,129.0,150.0,12.0,12.0,5.0,4.0,423.0,855.0,1050.0,1198.0,강남구